<h1>Components</h1>

<!-- 
<h2>Notifications</h2>
<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th>Description</th>
            <th>Open with <code>onclick</code></th>
            <th>Open with <code>nd-action</code></th>
            <th>Open with SSE</th>
            <th>Server data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alert (auto closes after a while)</td>
            <td>
                <button onclick="nd.notification.show('spa-alert')" class="btn btn-outline-primary btn-sm w-50">Click</button>
            </td>
            <td>
                <button nd-link nd-action="nd.notification.show('spa-alert')" class="btn btn-outline-primary btn-sm w-50">Action</button>
            </td>
            <td>
                <button nd-link nd-url="/sse/alert" nd-target="#a_target_1" class="btn btn-outline-primary btn-sm w-50">SSE</button>
            </td>
            <td id="a_target_1"></td>
        </tr>
        <tr>
            <td>Toast (auto closes after a while)</td>
            <td>
                <button onclick="nd.notification.show('spa-toast')" class="btn btn-outline-primary btn-sm w-50">Click</button>
            </td>
            <td>
                <button onclick="nd.notification.show('spa-toast')" class="btn btn-outline-primary btn-sm w-50">Action</button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm w-50" nd-link nd-url="/sse/toast" nd-target="#a_target_2">SSE</button>
            </td>
            <td id="a_target_2"></td>
        </tr>
    </tbody>
</table>

<template id="spa-alert">
    <param name="mode" value="alert">
    <param name="severity" value="danger">
    <param name="message" value="New arguments have been set !">
    <param name="url" value="/tata/index">
</template>


<template id="spa-toast">
    <param name="mode" value="toast">
    <param name="title" value="Toast from HTML">
    <param name="message" value="Arguments set from an HTML template">
    <param name="url" value="nav:/_new">
</template>
-->

<h2>Dialogs</h2>
<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th>Description</th>
            <th class="text-center">Javascript class</th>
            <th>Open with <code>onclick</code></th>
            <th>Open with <code>nd-action</code></th>
            <th>Open with SSE</th>
            <th>Result body</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Simple information dialog</td>
            <td class="text-center"><code>OneButtonDialog</code></td>
            <td>
                <button onclick="nd.dialog.show('spa-info')" class="btn btn-outline-primary btn-sm w-50">Click</button>
            </td>
            <td>
                <button nd-link nd-action="nd.dialog.show('spa-info')" class="btn btn-outline-primary btn-sm w-50">Action</button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm w-50" nd-link nd-url="/sse/one_button" nd-target="#b_target_3">SSE</button>
            </td>
            <td id="b_target_3"></td>
        </tr>
        <tr>
            <td>Accept and dismiss dialog</td>
            <td class="text-center"><code>TwoButtonDialog</code></td>
            <td>
                <button onclick="nd.dialog.show('spa-choice')" class="btn btn-outline-primary btn-sm w-50">Click</button>
            </td>
            <td>
                <button nd-link nd-action="nd.dialog.show('spa-choice')" class="btn btn-outline-primary btn-sm w-50">Action</button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm w-50" nd-link nd-url="/sse/two_button" nd-target="#b_target_4" nd-confirm>SSE</button>
            </td>
            <td id="b_target_4"></td>
        </tr>
        <tr>
            <td>Accept, Apply and dismiss dialog</td>
            <td class="text-center"><code>ThreeButtonDialog</code></td>
            <td>
                <button onclick="nd.dialog.show('spa-options')" class="btn btn-outline-primary btn-sm w-50">Click</button>
            </td>
            <td>
                <button nd-link nd-action="nd.dialog.show('spa-options')" class="btn btn-outline-primary btn-sm w-50">Action</button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm w-50" nd-link nd-url="/sse/three_button" nd-target="#b_target_5">SSE</button>
            </td>
            <td id="b_target_5"></td>
        </tr>
        <tr>
            <td>Secure confirm dialog</td>
            <td class="text-center"><code>ConfirmDialog</code></td>
            <td>
                <button onclick="nd.dialog.show('spa-secure')" class="btn btn-outline-primary btn-sm w-50">Click</button>
            </td>
            <td>
                <button nd-link nd-action="nd.dialog.show('spa-secure')" class="btn btn-outline-primary btn-sm w-50">Action</button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm w-50" nd-link nd-url="/sse/confirm" nd-target="#b_target_6">SSE</button>
            </td>
            <td id="b_target_6"></td>
        </tr>
    </tbody>
</table>

<template id="spa-info">
    <param name="mode" value="info">
    <param name="title" value="This is an 'info' dialog">
    <param name="message" value="You saved your data !">
    <param name="accept" value="OK">
    <param name="accept_url" value="nav::/_new">
</template>

<template id="spa-choice">
    <param name="mode" value="choice">
    <param name="title" value="This is an 'choice' dialog">
    <param name="message" value="Do you want to quit ?">
    <param name="accept" value="Yes">
    <param name="accept_url" value="nav::/_accept">
    <param name="dismiss" value="No">
    <param name="dismiss_url" value="nav::/_dismiss">
</template>

<template id="spa-options">
    <param name="mode" value="options">
    <param name="title" value="This is an 'options' dialog">
    <param name="message" value="Choose the action !">
    <param name="accept" value="Save">
    <param name="accept_url" value="nav::/_accept">
    <param name="apply" value="Apply">
    <param name="apply_url" value="nav::/_apply">
    <param name="dismiss" value="Cancel">
    <param name="dismiss_url" value="nav::/_dismiss">
</template>

<template id="spa-secure">
    <param name="mode" value="secure">
    <param name="title" value="This is an 'secure' dialog">
    <param name="message" value="Do you really want to do this ?">
    <param name="confirm" value="Please confirm !">
    <param name="accept" value="Yes">
    <param name="accept_url" value="nav::/_accept">
    <param name="dismiss" value="No">
    <param name="dismiss_url" value="nav::/_dismiss">
</template>

<h2>Data tranfer</h2>
<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th>Description</th>
            <th class="text-center">Javascript class</th>
            <th>Open with JS</th>
            <th>Open with SSE</th>
            <th>Result body</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Download pure</td>
            <td class="text-center"><code>Download</code></td>
            <td>
                <button onclick="" class="btn btn-outline-primary btn-sm w-50" disabled>JS</button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm w-50" nd-link nd-url="/sse/download">SSE</button>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>Download and preview</td>
            <td class="text-center"><code>Download</code></td>
            <td>
                <button onclick="" class="btn btn-outline-primary btn-sm w-50" disabled>JS</button>
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm w-50" nd-link nd-url="/sse/preview">SSE</button>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

<template id="spa_alert">
    <param name="severity" value="primary">
    <param name="message" value="New arguments have been set !">
    <param name="url" value="nav:/_new">
</template>