<h1>Test forms</h1>


<form nd-form method="post" nd-confirm="confirm_dialog" action="/sse/form">
    <!-- Form fields -->
    <div class="mb-3">
        <label for="id_email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="id_email" aria-describedby="email_help" autocomplete="email" autofocus required />
        <div id="email_help" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="id_password" autocomplete="off" required />
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="checkout" class="form-check-input" id="id_checkout" />
        <label class="form-check-label" for="id_checkout">Check me out</label>
    </div>

    <!-- Buttons with possible actions -->
    <div class="text-center">
        <!-- Button with action : after submission, fetch '/form/submit' in a POST request -->
        <div class="btn btn-outline-secondary col-2" nd-accept nd-url="post::/form/submit">Submit</div>
        <!-- Button with action : after cancelling, fetch '/form/dismiss' in a GET request -->
        <button class="btn btn-outline-secondary col-2" nd-dismiss nd-url="get::/form/dismiss">Dismiss</button>
        <!-- <button class="btn btn-outline-secondary col-2" nd-dismiss nd-url="nav::/icc">Dismiss</button> -->
        <!-- Buttons acting on the form itself -->
        <button class="btn btn-outline-secondary col-2" nd-apply>Apply</button>
        <button class="btn btn-outline-secondary col-2" nd-revert>Revert</button>
        <button class="btn btn-outline-secondary col-2" nd-clear>Clear</button>
    </div>
</form>

<!-- The confirm dialog template -->
<template id="confirm_dialog">
    <param name="mode" value="choice">
    <param name="title" value="Please confirm !">
    <param name="message" value="Do you really want to do this ?">
    <param name="confirm" value=""> <!-- Not relevant here ! -->
    <param name="accept" value="Yes">
    <param name="dismiss" value="No">
</template>