<h1>Links</h1>
<h2>With confirmation (<code>nd-confirm</code>)</h2>

<div class="row mt-3">
    <div class="col-1">
        <button nd-link nd-url="/poll" nd-action="my_action('testor')" nd-target="#confirm"
            nd-confirm="{'title':'Approbation nécessaire', 'message':'Effectuer l\'opération ?', 'buttons': [ {'action': 'accept', 'label':'Proceed'}, {'action' : 'dismiss', 'label':'No thanks'}]}"
            class="btn btn-outline-primary btn-sm w-100">Confirm</button>
    </div>
    <div class="col-2">
        <p id="confirm" class="form-control form-control-sm w-100">Result here</p>
    </div>
</div>
<div class="mt-3"></div>


<a nd-link href="/poll" nd-target="#target-a">Link A</a>
<a nd-link href="/poll" nd-target=".target">Link B</a>
<a nd-link href="/poll" nd-target="#target-c">Link C</a>
<br>
<p></p>

<div class="mb-3">
    <button nd-link nd-url="/poll" nd-target=".target" class="btn btn-primary">A</button>
    <button nd-link class="btn btn-primary">B</button>
    <button nd-link nd-url="/test" nd-target="#target-c" class="btn btn-primary">C</button>
</div>

Target A
<div id="target-a" class="target border mb-2">...</div>
Target B
<div id="target-b" class="target border mb-2">...</div>
Target C
<div id="target-c" class="border mb-2">...</div>



<script>
    my_action = (p) => {
        const a = `My action is here ! (${p})`;
        console.log(a);
        alert(a);
    }
</script>
{# endblock #}