<h1>SSE tests</h1>

<h2>Toasts</h2>
<div class="row mb-3">
    <div class="col-2">
        <button id="b1" class="btn btn-primary w-100" nd-link nd-url="/toast" nd-target="#target">Toast button</button>
    </div>
    <div class="col-2">
        <a id="id1" class="btn btn-primary w-100" nd-link nd-url="/toast" nd-target="#target">Toast link</a>
    </div>
    <div class="col-5">
        <div class="row">
            <label for="target" class="col-sm-auto col-form-label">Server data :</label>
            <div class="col-sm-8">
                <input id="target" type="text" class="form-control" readonly>
            </div>
        </div>
    </div>
</div>