<h1>Sandbox</h1>

<h2>Overlays</h2>

<div class="position-relative border border-2 border-danger-subtle bg-danger-subtle w-50 d-none" style="height: 300px;">
    Container
    <dialog class="Xposition-absolute border border-2 border-warning-subtle bg-warning-subtle w-25 z-1" style="height: 200px; left: 50px; top:50px" open>Dialog 1</dialog>
    <!-- <div class="position-absolute border border-2 border-info-subtle bg-info-subtle w-25 z-0" style="height: 200px; left: 20px;">Layer-2</div> -->
    <dialog class="Xposition-absolute border border-2 border-info-subtle bg-info-subtle w-25 z-2" style="height: 200px; left: 20px;" open>Dialog 2</dialog>
</div>



<!-- <button class="col-1 btn btn-primary btn-sm me-1" nd-link nd-url="/sse/modal_send" nd-data="#my_form">Send !</button> -->

<div class="mt-3"></div>
<h2>Buttons (<code>nd-action</code>)</h2>
<button nd-action="" class="col-1 btn btn-primary btn-sm me-1">Action !</button>




<div class="mt-3"></div>
<h2>Custom dialogs</h2>

<button class="col-1 btn btn-primary btn-sm me-1" onclick="custom_dialog()">JS Open</button>
<script>

    custom_dialog = async () => {
        var response = await fetch("/sse/form");
        var data = await response.text();

        var args = {
            "title": "This is a custom dialog !",
            "html": data,
            "width_pc": 30,
        }
        nd.factory.create('custom', args).show();
    }

</script>