<h1>Data Transfer</h1>

<h2>Download</h2>

<div class="row align-items-center mb-3 mt-3">
    <div class="col-3 border rounded-2 p-2 me-2 text-center">
        <strong>Download 2 files</strong><br>
        <button class="btn btn-outline-primary btn-sm" nd-link nd-url="/transfers/download">Download</button>
    </div>
    <div class="col-3 border rounded-2 p-2 me-2 text-center">
        <strong>Preview 1 file</strong><br>
        <button class="btn btn-outline-primary btn-sm" nd-link nd-url="/transfers/preview">Download</button>
    </div>
</div>

<h2>Upload</h2>

<p>To do !!!</p>