<h1>Web session with ND SPA</h1>

<div class="row">
    <div class="col-2">
        Provides :
        <ul>
            <li>Login</li>
            <li>Login out</li>
        </ul>
    </div>
    <div class="col-5">
        Accounts :
        <ul>
            <li>user@test.com / user : no privileges</li>
            <li>admin@test.com / admin : administrator</li>
            <li>superadmin@test.com / superadmin : super administrator</li>
        </ul>
    </div>

</div>

<!-- Menu -->
<div class="border-bottom border-top pb-2 pt-2 mt-3">
    <!-- Items that are always shown -->
    <a nd-link nd-action="alert('Welcome Page')" class="border-end ps-2 pe-2">Welcome</a>
    <a nd-link nd-action="alert('News Page')" class="border-end ps-2 pe-2">News</a>
    <a nd-link nd-action="alert('Contact Page')" class="border-end ps-2 pe-2">Contact</a>
    <!-- Context dependent items -->
    <a id="id_my_account" nd-link nd-action="alert('My Account Page')" class="border-end ps-2 pe-2">My Account</a>
    <a id="id_login" nd-link href="/websession/login" nd-target="#forms" class="border-end ps-2 pe-2">Login</a>
    <a id="id_logout" nd-link nd-confirm="logout_dialog" href="/websession/logout" class="border-end ps-2 pe-2">Logout</a>
</div>
<div id="forms">
    <!-- Form will be updated by SSE -->
</div>

<!-- The logout confirmation dialog template -->
<template id="logout_dialog">
    <param name="mode" value="choice">
    <param name="title" value="Logout">
    <param name="message" value="Do you want to close this session ?">
    <param name="confirm" value=""> <!-- Not relevant here ! -->
    <param name="accept" value="Yes">
    <param name="dismiss" value="No">
</template>

<!-- Context (::none::) -->
<template nd-context="::none::">
    <param name="show" nd-target="#id_login  #forms">
    <param name="hide" nd-target="#id_logout #id_my_account">
    <param name="remove" nd-target="">
</template>

<!-- Context (authenticated) -->
<template nd-context="authenticated">
    <param name="show" nd-target="#id_logout #id_my_account">
    <param name="hide" nd-target="#id_login #forms">
    <param name="remove" nd-target="#forms">
</template>